<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgStudio.pedestal.mapper.UserSpaceMapper">

    <insert id="insertList">
        INSERT INTO user_space (user_id, space_id)
        VALUES
        <foreach collection="userSpaces" item="userSpace" separator=",">
            (#{userSpace.userId}, #{userSpace.spaceId})
        </foreach>
    </insert>
</mapper>
